---
rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: -1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: -1
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: -1
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-end:
    present: true
  document-start:
    present: true
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
  hyphens:
    max-spaces-after: 1
  indentation:
    spaces: consistent
    indent-sequences: true
    check-multi-line-strings: true
  key-duplicates: enable
  new-line-at-end-of-file: disable
  trailing-spaces: enable
...
